#menu .menu-primary-wrapper{
	top: auto;
	height: auto;
}

#menu .menu-primary .sub-menu{
	position: relative;
	bottom: auto;
	left: auto;
	display: block;
	margin: 0 30px;
	width: auto;
	transform: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
}

#menu .menu-primary .sub-menu a{
	font-size: 12px;
	background: #00476F;
}

#menu .social-menu{
	display: inline-block;
}
